@model CRUDCORE.Models.Empleado
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-danger"> ¿Esta seguro de eliminar el empleado?</h3>
<hr />
<div class="row">
    <div class="col-sm-4">

        <form asp-action="Eliminar" asp-controller="Home" method="post">
            <input type="hidden" asp-for="IdEmpleado" />

            <div class="mb-2">
                <label class="form-label" asp-for="NombreCompleto">Nombre completo</label>
                <input class="form-control form-control-sm" asp-for="NombreCompleto" type="text" disabled />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="Correo">Correo</label>
                <input class="form-control form-control-sm" asp-for="Correo" type="text" disabled />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="Telefono">Telefono</label>
                <input class="form-control form-control-sm" asp-for="Telefono" type="text"  disabled/>
            </div>

            <div class="mb-3">
                <label class="form-label" asp-for="IdCargo">Cargo</label>
                 <input class="form-control form-control-sm" asp-for="oCargo.Descripcion" type="text" disabled />
            </div>

            <div class="mb-2">
                
                 <button class="btn btn-danger btn-sm w-25" type="submit">Eliminar</button>
                 <a class="btn btn-dark btn-sm" asp-action="Index" asp-controller="Home">Volver</a>

            </div>

        </form>

    </div>
</div>

