@model CRUDCORE.Models.ViewModels.EmpleadoVM
@{
    ViewData["Title"] = "Empleado_Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.oEmpleado.IdEmpleado == 0)
{

    <h1>Crear Empleado</h1>
}
else  {
      <h1>Editar Empleado</h1>
  }


<div class="row">
    <div class="col-sm-4">

        <form asp-action="Empleado_Detalle" asp-controller="Home" method="post">
            <input type="hidden" asp-for="oEmpleado.IdEmpleado" />

            <div class="mb-2">
                <label class="form-label" asp-for="oEmpleado.NombreCompleto">Nombre completo</label>
                <input class="form-control form-control-sm" asp-for="oEmpleado.NombreCompleto" type="text" />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="oEmpleado.Correo">Correo</label>
                <input class="form-control form-control-sm" asp-for="oEmpleado.Correo" type="text" />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="oEmpleado.Telefono">Telefono</label>
                <input class="form-control form-control-sm" asp-for="oEmpleado.Telefono" type="text" />
            </div>

            <div class="mb-3">
                <label class="form-label" asp-for="oEmpleado.IdCargo">Cargo</label>
                <select class="form-select form-select-sm" asp-for="oEmpleado.IdCargo" asp-items="@Model.oListaCargo">
                    <option selected disabled>-- Seleccionar --</option>
                </select>
            </div>

            <div class="mb-2">
                
                @if (Model.oEmpleado.IdEmpleado == 0)
                {
                    <button class="btn btn-primary btn-sm w-25" type="submit">Crear</button>
                }
                else
                {
                     <button class="btn btn-primary btn-sm w-25" type="submit">Actualizar</button>

                }
                 <a class="btn btn-dark btn-sm" asp-action="Index" asp-controller="Home">Volver</a>

            </div>

        </form>

    </div>
</div>

